[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django = "*"
pandas = "*"
pymysql = "*"
pyside6 = "*"
paramiko = "*"
mysqlclient = "*"
pypinyin = "*"
requests = "*"
requestes = "*"
jmpy3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
